<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>Legends Of Chima</title>

<!--[if lt IE 7]><style type="text/css">body{behavior:url("/w/static-1.25wmf10/skins/Vector/csshover.min.htc")}</style><![endif]-->
</head>
<body>

			<h2>Legends Of Chima</h2>
			<br />
			
<ul class="titles">
	<li>Season</li>
	<li>Episodes</li>
	<li>First aired</li>
	<li>Last aired</li>
</ul>

<ul>
<li class="one">1</li>
<li>20</li>
<li>January 16, 2013</li>
<li>December 5, 2013</li>
</ul>

<ul>
<li class="two">2</li>
<li>6</li>
<li>March 15, 2014</li>
<li>April 19, 2014</li>
</ul>

<ul>
<li class="three">3</li>
<li>15</li>
<li>August 9, 2014</li>
<li>November 22, 2014</li>
</ul>

<ul>
<li class="four">4</li>
<li>10</li>
<li>May 12, 2015</li>
<li>July 23, 2015</li>
</ul>

<ul>
<li class="five">5</li>
<li>TBA</li>
<li>2016</li>
<li>2016</li>
</ul>



<h3>Season 1: The Power Of Chi (2013)</h3>
<table class="wikitable plainrowheaders" style="width:100%; margin:auto; background:#Lime Green;">
<tr>
<th style="width:40px;">#</th>
<th style="width:150px;">Title</th>
<th style="width:20px;">Original air date</th>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep1" style="text-align:center">1</th>
<td class="summary" style="text-align:left">"<b>The Legend Of Chima</b>"</td>
<td>January&#160;16,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2011-12-02</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green"><b>Series Premiere: </b>When Cragger the Crocodile is caught trying to steal CHI, the Lions call his parents, the King and Queen of the Crocodile tribe, resulting in misunderstandings that eventually develop into a full scale battle.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep2" style="text-align:center">2</th>
<td class="summary" style="text-align:left">"<b>The Great Story</b>"</td>
<td>January&#160;16,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2011-12-02</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">
<p> When Cragger disrupts the racing games during the CHI day festivities and attack the Lion City with the wolves and the ravens, the lions must call upon the Eagles and Gorillas but they learn that sometimes peace can be restored in the most unexpected ways.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep3" style="text-align:center">3</th>
<td class="summary" style="text-align:left">"<b>The Warrior Within</b>"</td>
<td>March&#160;27,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-01-25</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">Cragger, under the influence of Crooler's magical flower, tricks Laval into withholding the crocodiles' share of CHI, thus inflaming hostilities between the Lion and Croc tribes yet again.lower that he had been protecting for the whole day. Unknown to Laval and Eris he had got into a fight with the wolves and the ravens causing them to be late.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep4" style="text-align:center">4</th>
<td class="summary" style="text-align:left">"<b>The Joy Ride</b>"</td>
<td>July&#160;17,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-02-01</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">
<p>When Cragger employs the beavers to build a dam that, when completed, will disrupt the flow of water from Mount Cavora, Laval must find a way to destroy the dam to restore the flow of the precious CHI water from Mt. Cavora.
</p>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep5" style="text-align:center">5</th>
<td class="summary" style="text-align:left">"<b>Market Day</b>"</td>
<td>July&#160;24,&#160;20133<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-02-08</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">It's market day and the CHI celebration race for the Golden CHI is on but when the Ravens steal the golden orb, it looks like the race might not happen at all.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep6" style="text-align:center">6</th>
<td class="summary" style="text-align:left">"<b>Attack On Eagle Spire</b>"</td>
<td>July&#160;31,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-02-15</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">When Cragger attacks the Eagle Spires with the help of the Ravens, Laval and the Lions arrive to help the Eagles - but the Ravens realize that Cragger's plan might cause them to lose all their best customers and get second thoughts.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep7" style="text-align:center">7</th>
<td class="summary" style="text-align:left">"<b>The Hundred Year Moon</b>"</td>
<td>August&#160;7,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-02-22</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">On the night of the 100 Year Moon where the Wolves are at their most primitive and through centuries have lost control, Cragger and Crooler kidnap G'loona to lure Laval and his friends out on a search mission, hoping to cross paths with the wild wolves.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep8" style="text-align:center">8</th>
<td class="summary" style="text-align:left">"<b>The Biggest Race Ever</b>"</td>
<td>August&#160;21,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-03-07</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">When the CHI celebration races for the golden CHI are on again, everybody wants to win but a new mysterious racer called "Shadow Wind" emerges during the races - who is he?</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep9" style="text-align:center">9</th>
<td class="summary" style="text-align:left">"<b>Gorrilas Gone Wild</b>"</td>
<td>August&#160;28,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-03-14</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">When Cragger angers the peace-loving Gorillas, they march to attack the Crocodiles in the Croc Swamp with their big battle mechs - can they defeat the crocs in their own swamp?</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep10" style="text-align:center">10</th>
<td class="summary" style="text-align:left">"<b>Foxtrot</b>"</td>
<td>September&#160;12,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-03-21</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">When Crooler steals the Lions' share of CHI with the assistance of the Wolves, she pays them by throwing the ancient "Pledge of the Pack" into the Gorge of Eternal Depth but the mysterious Shadow Wind unexpectedly hands the document to the lions.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep11" style="text-align:center">11</th>
<td class="summary" style="text-align:left">"<b>The Chi Jackers</b>"</td>
<td>September&#160;19,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-03-28</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">When the wolves start ambushing the other Tribes and steal their CHI, the balance of Chima starts to shift as all tribes - except for the wolves that grow increasingly powerful - begin to run out of CHI.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep12" style="text-align:center">12</th>
<td class="summary" style="text-align:left">"<b>The Balancing Act</b>"</td>
<td>September&#160;26,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-04-04</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">Earthquakes and thunder storms shake Chima as a result of the imbalance caused by the misappropriation of CHI and when the Eagles lose a supply of CHI into the Gorge of Eternal Depth, Laval, Eris and Gorzan attempt a dramatic recovery of the CHI.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep13" style="text-align:center">13</th>
<td class="summary" style="text-align:left">"<b>Crocodile Tears</b>"</td>
<td>October&#160;3,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-04-11</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Lime Green">
<p>When Cragger and his Croc troops attempt to steal back some of the CHI the Wolves have stolen from the other tribes, they are captured and taken prisoner - but Laval is determined to help is old friend Cragger and attempts a daring rescue.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">14</th>
<td class="summary" style="text-align:left">"<b>Fake Chi, Real Trouble</b>"</td>
<td>October&#160;10,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>When Crooler loses control over Cragger, he reverts to his good, old self and is in high spirits, willing to help all animals of Chima - but as usual, Crooler has a trick up her sleeve and employs a Raven alchemist to produce fake CHI.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">15</th>
<td class="summary" style="text-align:left">"<b>Ravens Vs. Eagles</b>"</td>
<td>October&#160;17,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>CHIMA is peaceful yet again. Laval and Cragger go on a joyful Speedor cruise. But the Ravens use the peace to move into Eagle Spires. The Eagles try to get rid of them, but the Ravens are very persistent. It will be up to Eris to trick them to leave.</p>
</td>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">16</th>
<td class="summary" style="text-align:left">"<b>Reunion Gone Wrong</b>"</td>
<td>October&#160;24,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Laval and Cragger attempt to get all of the tribes to agree on a lasting peace in CHIMA. But Crooler creates a strange fog that makes everyone become very powerful and angry ... especially Cragger.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">17</th>
<td class="summary" style="text-align:left">"<b>Laval In Exile</b>"</td>
<td>Novmeber&#160;7,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Laval's actions to break up the fighting at the peace talks force the Lion King Lagravis to exile his own son. Laval learns that Cragger has imprisoned his father in his absence. He must free him ... but how can he do that when he has been exiled?</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">18</th>
<td class="summary" style="text-align:left">"<b>The Black Cloud</b>"</td>
<td>November&#160;14,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>A strange Black cloud has appeared around the floating Mt. Cavora, source of the CHI. Laval and Eris investigate but the cloud seems to fight back. The tribes of CHIMA must all join in the fight against the cloud. But the worst is yet to come...</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">19</th>
<td class="summary" style="text-align:left">"<b>Chima Falls</b>"</td>
<td>November&#160;21,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The CHI falls have run dry. Eris and the Beavers try to get to mount Cavora to learn why. The Crocodiles blame the Lions and are rallying the Wolves, Ravens and even Rhinos for a large scale attack to conquer the remaining CHI.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">20</th>
<td class="summary" style="text-align:left">"<b>For Chima</b>"</td>
<td>December&#160;5,&#160;2013<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The CHI falls of Mt. Cavora are still not running. The Black Cloud still looms. The battle for the CHI is on. The Lion Temple is under attack and it is only a matter of time before is will be overrun by Crocodiles, Wolves, Ravens and Rhinos.</td>
</tr>
</table>
<h3>Season 2: Quest For The Legend Beasts (2014)</h3>
<table class="wikitable plainrowheaders" style="width:100%; margin:auto; background:#Gold;">
<tr>
<th style="width:40px;">#</th>
<th style="width:150px;">Title</th>
<th style="width:20px;">Original air date</th>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep14" style="text-align:center">21</th>
<td class="summary" style="text-align:left">"<b>Into The Outlands</b>"</td>
<td>March&#160;15,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-07-18</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">
<p><b>Season Premiere:</b> The heroes learn the disturbing truth about the stolen CHI and the missing Legend Beasts. They must battle both the savage Outland plants and the mysterious black cloud.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep15" style="text-align:center">22</th>
<td class="summary" style="text-align:left">"<b>A Tangled Web</b>"</td>
<td>March&#160;22,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-07-25</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">The heroes of CHIMA learn that the Gorilla and Rhino Legend Beasts are being help captive by a Tribe of creepy Spiders. They must come up with a clever plan to defeat this massive threat.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep16" style="text-align:center">23</th>
<td class="summary" style="text-align:left">"<b>The Legend Thief</b>"</td>
<td>March&#160;29,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-08-01</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">Things have started to go missing at the heroes' outpost. Laval must convince the exiled Lion Lavertus to join them in their fight - by defeating him in a Speedor Race!</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep17" style="text-align:center">24</th>
<td class="summary" style="text-align:left">"<b>The Eagle & The Bear</b>"</td>
<td>April&#160;5,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-08-08</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">The Scorpions and Spiders have set up a trap, and the heroes must free the Legend Beast Eagle and the Bear. But the Scorpions and Spiders have new vehicles of their own ... Speedorz!</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep18" style="text-align:center">25</th>
<td class="summary" style="text-align:left">"<b>Tooth Or Consequences</b>"</td>
<td>April&#160;12,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-08-15</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">Worriz and Cragger go off on a mission of their own, but get captured by the Spiders. Now it is up the rest of the heroes to mount up the Legend Beasts and go on a daring rescue mission.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep19" style="text-align:center">26</th>
<td class="summary" style="text-align:left">"<b>This May Sting A Bit</b>"</td>
<td>April&#160;19,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2012-08-22</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Gold">
<p>Laval has been separated from his friends and must overcome his greatest fear to rescue the Lion Legend Beast himself ... or will it rescue him? The fate of CHIMA will be decided today.</p>
</tr>
</table>
<h3>Season 3: The Fire Chi (2014)</h3>
<table class="wikitable plainrowheaders" style="width:100%; margin:auto; background:#Blue;">
<tr>
<th style="width:40px;">#</th>
<th style="width:150px;">Title</th>
<th style="width:20px;">Original air date</th>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep27" style="text-align:center">27</th>
<td class="summary" style="text-align:left">"<b>Fire Dreaming</b>"</td>
<td>August&#160;9,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue"><b>Season Premiere:</b> Eris is having disturbing dreams of fire ... what to does it mean? In a deep dark cave, ancient Tribes of fierce Hunters awaken and march to the surface to conquer all of the CHI.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep28" style="text-align:center">28</th>
<td class="summary" style="text-align:left">"<b>Attack Of The Ice Clan</b>"</td>
<td>August&#160;16,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Hunters advance and spread their crushing ice across CHIMA. In a battle, the animal Tribes fight back but learn that their weapons are powerless against this new enemy.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep29" style="text-align:center">29</th>
<td class="summary" style="text-align:left">"<b>The Call Of Cavora</b>"</td>
<td>August&#160;23,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">CHIMA is overrun by the Hunters. Eris convinces Cragger and Laval that the answer to stop the Hunters at up at Mount Cavora to meet the fabled guardian of CHIMA - The Phoenix.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep30" style="text-align:center">30</th>
<td class="summary" style="text-align:left">"<b>Trial By Fire</b>"</td>
<td>August&#160;30,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Hunters continue their relentless attacks on CHIMA. The Phoenix leader tries to recruit Eris. Laval and Cragger must to prove themselves worthy of the Fire CHI.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep31" style="text-align:center">31</th>
<td class="summary" style="text-align:left">"<b>The Crescent</b>"</td>
<td>September&#160;6,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">By order of the Phoenix King Laval, Cragger, Eris and their friends must defend a mysterious hill against the Hunter Tribes.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep32" style="text-align:center">32</th>
<td class="summary" style="text-align:left">"<b>Fired Up</b>"</td>
<td>September&#160;13,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>When the Tribes of Chima, armed with ample Fire CHI, launch a furious counter-assault against the Hunters, Fangar and his cohorts d isappear underground.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep33" style="text-align:center">33</th>
<td class="summary" style="text-align:left">"<b>Cool & Collected</b>"</td>
<td>September&#160;20,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Our heroes continue pushing back the Hunters with their Fire CHI powered vehicles, but when they search the sites of the Hunters' at tacks, they can't find any of the defeated animals.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">34</th>
<td class="summary" style="text-align:left">"<b>The Snowball Effect</b>"</td>
<td>September&#160;27,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Laval and Li'Ella's relationship grows and as he gives her a tour of the Lion City. But distracted, he misses a key battle against t he Hunters. Tormak joins the fight and saves the day.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">35</th>
<td class="summary" style="text-align:left">"<b>The King Thing</b>"</td>
<td>October&#160;4,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>In his father's absence, Laval is forced to take over as King of the Lion Tribe-a role that does not suit him well. The Hunters laun ch yet another major attack on the Lion City.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">36</th>
<td class="summary" style="text-align:left">"<b>A Very Slippery Slope</b>"</td>
<td>October&#160;11,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Laval tries to mount a rescue to save the Kings and Li'Ella. Sir Fangar gets a first-hand look at Flinx's power and is more intent than ever to capture the boy.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">37</th>
<td class="summary" style="text-align:left">"<b>The Artifact</b>"</td>
<td>October&#160;18,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Desperate to save his daughter, Tormak betrays the Phoenix and steals Map known as the Artifact.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">38</th>
<td class="summary" style="text-align:left">"<b>The Phoenix Has Landed</b>"</td>
<td>October&#160;25,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>Flinx boldly sneaks off to confront Sir Fangar on his own. Laval, Eris and Cragger joins him a daring rescue in the flying Phoenix Blazing Bastion ... but yet another trap awaits.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">39</th>
<td class="summary" style="text-align:left">"<b>A Spark Of Hope</b>"</td>
<td>November&#160;1,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The heroes are trapped in the Gorge of Eternal Depth. The Hunters are preparing their ultimate assault. Another legend is revealed and an ally from the past make a surprising return.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">40</th>
<td class="summary" style="text-align:left">"<b>Wings Of Fire</b>"</td>
<td>November&#160;22,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>CHIMA is frozen over ... The map to the eight Fire Wings has been destroyed ... Sir Fangar and the Hunters march on the Lion City and Mount Cavora. All hope seems lost.</p>
</td>
</tr>
<tr class="vevent" style="text-align:center;background:#F2F2F2">
<th scope="row" id="ep34" style="text-align:center">41</th>
<td class="summary" style="text-align:left">"<b>The Heart Of Cavora</b>"</td>
<td>November&#160;22,&#160;2014<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>It is CHIMA's coldest hour ... The Hunters have launched their final attack on the Lion City and Mount Cavora.</p>
</td>
</tr>
</table>

<h3>Season 4: Return Of The Pet Tribes (2015)</h3>
<table class="wikitable plainrowheaders" style="width:100%; margin:auto; background:##FF6347;">
<tr>
<th bgcolor="#FF6347" style="width:40px;">#</th>
<th bgcolor="#FF6347" style="width:150px;">Title</th>
<th bgcolor="#FF6347" style="width:20px;">Original air date</th>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep27" style="text-align:center">42</th>
<td class="summary" style="text-align:left">"<b>A New Tribe</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue"><b>Season Premiere:</b> Laval reveals a new tribe in CHIMA, the Dogs, trying to make them at peace.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep28" style="text-align:center">43</th>
<td class="summary" style="text-align:left">"<b>Cotlin vs Doginik</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Dogs release the Cat tribe hoping to finally defeat them after many years of battle.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep29" style="text-align:center">44</th>
<td class="summary" style="text-align:left">"<b>Laval's Mistakes</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Dogs and Cats team up to defeat the Lions as they are the ones who banished them.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep30" style="text-align:center">45</th>
<td class="summary" style="text-align:left">"<b>Rise Of The Pet Chi</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">As the Pet Tribes are weak they invent a new type of Chi, Pet Chi, which makes them much stronger.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep31" style="text-align:center">46</th>
<td class="summary" style="text-align:left">"<b>Cotlin And His Many Friends</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">Cotlin creates 4 new tribes that will help the Cats and Dogs defeat the other tribes of CHIMA, Parrots, Hampsters, Turtles and Rabbits.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep32" style="text-align:center">47</th>
<td class="summary" style="text-align:left">"<b>Clash Of Clans</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td> 
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The pet tribes attack the other tribes of Chima and they succed but Laval, Cragger, Lagravis and Eris go into hiding.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep33" style="text-align:center">48</th>
<td class="summary" style="text-align:left">"<b>Search For The Legend Beasts</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td> 
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>After being defeated the four friends search for the Legend Beasts hoping they will help them.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep34" style="text-align:center">49</th>
<td class="summary" style="text-align:left">"<b>The Awakening</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The four friends find the Legend Beasts and the pet Legend Beasts awaken, after learning what the pet tribes have done they promise to help defeat them.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep34" style="text-align:center">50</th>
<td class="summary" style="text-align:left">"<b>The Plan</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The friends and the legend beasts come up with a paln to defeat the pet tribes.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#FF6347">
<th scope="row" id="ep34" style="text-align:center">51</th>
<td class="summary" style="text-align:left">"<b>Banished Once More</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The friends and the legend beasts banish the pet tribes to the Kegend Lands so they are never released again.</p>
</tr>
</table>



<h3>Season 5: Age Of The Kegends (TBA)</h3>
<table class="wikitable plainrowheaders" style="width:100%; margin:auto; background:#ffffff;">
<tr>
<th bgcolor="#008B8B" style="width:40px;">#</th>
<th bgcolor="#008B8B" style="width:150px;">Title</th>
<th bgcolor="#008B8B" style="width:20px;">Original air date</th>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep27" style="text-align:center">52</th>
<td class="summary" style="text-align:left">"<b>Mistakes Lead To War</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue"><b>Season Premiere:</b> Because the pet ribes were banished to the Kegend Lands the Kegends escaped and capture Lagravis.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep28" style="text-align:center">53</th>
<td class="summary" style="text-align:left">"<b>Cotlin vs Doginik</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-01-29</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Dogs release the Cat tribe hoping to finally defeat them after many years of battle.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep29" style="text-align:center">54</th>
<td class="summary" style="text-align:left">"<b>Laval's Mistakes</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">The Dogs and Cats team up to defeat the Lions as they are the ones who banished them.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep30" style="text-align:center">55</th>
<td class="summary" style="text-align:left">"<b>Rise Of The Pet Chi</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-04-16</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">As the Pet Tribes are weak they invent a new type of Chi, Pet Chi, which makes them much stronger.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep31" style="text-align:center">56</th>
<td class="summary" style="text-align:left">"<b>Cotlin And His Many Friends</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">Cotlin creates 4 new tribes that will help the Cats and Dogs defeat the other tribes of CHIMA, Parrots, Hampsters, Turtles and Rabbits.</td>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep32" style="text-align:center">57</th>
<td class="summary" style="text-align:left">"<b>Clash Of Clans</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-07-13</span>)</span></td> 
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The pet tribes attack the other tribes of Chima and they succed but Laval, Cragger, Lagravis and Eris go into hiding.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep33" style="text-align:center">58</th>
<td class="summary" style="text-align:left">"<b>Search For The Legend Beasts</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td> 
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>After being defeated the four friends search for the Legend Beasts hoping they will help them.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep34" style="text-align:center">59</th>
<td class="summary" style="text-align:left">"<b>The Awakening</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The four friends find the Legend Beasts and the pet Legend Beasts awaken, after learning what the pet tribes have done they promise to help defeat them.</p>
</tr>
<tr class="vevent" style="text-align:center;background:#008B8B">
<th scope="row" id="ep34" style="text-align:center">60</th>
<td class="summary" style="text-align:left">"<b>Banished Once More</b>"</td>
<td>&#160;&#160;TBA<span style="display:none">&#160;(<span class="bday dtstart published updated">2014-11-26</span>)</span></td>
</tr>
<tr>
<td class="description" colspan="3" style="border-bottom:solid 3px #Blue">
<p>The friends and the legend beasts banish the pet tribes and make sure they are never released again.</p>
</tr>
</table>
	</body>
</html>