<!DOCTYPE html>
<html>
<head>
<title>
Top 10 Planets
</title>
</head>
<body>
<h1>
Top 10 Planets In Star Wars
</h1>
<h2>10-</h2>

<h2>3- Coruscant</h2>
<img src="images/tatooine.png">
<p>The Planet</p>




<h2>2- Utapau</h2>
<img src="images/utapau.jpg" width="500px">
<p>The Planet</p>
<img src="images/utapau1.png" height="300px" width="600px">

<h2>1- Kashyyyk</h2>
<img src="images/kasyyyk.jpg">
<p>The Planet</p>
<img src="images/Kashyyyk1.jpg">
<p>Landscsape</p>
<img src="images/wookies.jpg">
<p>The Wookies</p>




</body>
</html>